body {
    background: none !important;
    overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kcFormCardClass {
    border-top: none;
}